* { margin: 0; padding: 0; box-sizing: border-box; }
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #020111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  transition: background 2s ease;
}
